<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<div class="row my-3">
        <div class="col-6">
            <a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
        </div>
        <div class="col-6">
            <div class="input-group">
            	<form th:action="@{/question/list}">
	                <input type="text" name="kw" id="search_kw" class="form-control" th:value="${kw}">
	                <input class="btn btn-outline-secondary" type="button" id="btn_search" value="찾기">
                </form>
            </div>
        </div>
    </div>
	
	<table class="table">
	    <thead class="table-dark">
	        <tr class="text-center">
	        	<th>번호</th>
	            <th style="width:50%">제목</th>
	            <th>글쓴이</th>
	            <th>조회수</th>
	            <th>작성일시</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<!-- each문 반복될 때 현재의 순서를 알려주는 loop -->
	        <tr th:each="question, loop : ${paging}" class="text-center">
	        	<!-- 페이징으로 인한 보여지는 게시글의 번호 바꿔주기! -->
	        	<td th:text="${paging.getTotalElements - loop.index - (paging.number * paging.size)}"></td>
	        	<!-- 파라미터 이름 없이 값만 넘기기 -->
	        	<td class="text-start">
	        		<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목을 가져옵니다.</a>
	        		<!-- 제목 옆에 답변 개수 (#list.size(객체)는 객체의 사이즈를 리턴하는 타임리프의 기능) -->
	        		<span class="text-danger small ms-2"
                        th:if="${#lists.size(question.answerList) > 0}" 
                        th:text="'[' + ${#lists.size(question.answerList)} + ']'">
                    </span>
	        		</td>
	            <!-- <td th:text="${question.subject}">제목을 가져옵니다.</td> -->
	            <!-- 글쓴이 추가 -->
	            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
	            <td th:text=${question.hit}></td>
	            <td th:text="${#temporals.format(question.createdate, 'yyyy-MM-dd HH:mm')}">글 작성 시간을 가져옵니다.</td>
	        </tr>
	    </tbody>
	</table>
	<!-- 페이징 처리 시작 -->
	<!-- paging 객체 내에 글이 비어있지 않다면(존재한다면) -->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<!-- 이전페이지가 존재하지 않으면 disabled 시키겠다 -->
			<li class="page-item" th:classappend="${!paging.hasPrevious} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number-1}&kw=${kw}|}"><span>이전</span></a>
			</li>
			<!-- 번호 -->
			<li th:each="page: ${#numbers.sequence(0, paging.totalPages-1)}"
				th:if="${page >= paging.number-5 and page <= paging.number+5}"
                th:classappend="${page == paging.number} ? 'active'" class="page-item">
                <a th:text="${page + 1}" class="page-link" th:href="@{|?page=${page}&kw=${kw}|}"></a>
			</li>
			<!-- 다음페이지가 존재하지 않으면 disabled 시키겠다 -->
			<li class="page-item" th:classappend="${!paging.hasNext} ? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number+1}&kw=${kw}|}"><span>다음</span></a>
			</li>
		</ul>
	</div>

</div>	
</html>