<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container my-3">
	<table class="table">
	    <thead class="table-dark">
	        <tr class="text-center">
	        	<th>번호</th>
	            <th style="width:50%">제목</th>
	            <th>글쓴이</th>
	            <th>조회수</th>
	            <th>작성일시</th>
	        </tr>
	    </thead>
	    <tbody>
	    	<!-- each문 반복될 때 현재의 순서를 알려주는 loop -->
	        <tr th:each="question, loop : ${questions}" class="text-center">
	        	<td th:text="${loop.count}"></td>
	        	<!-- 파라미터 이름 없이 값만 넘기기 -->
	        	<td class="text-start">
	        		<a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목을 가져옵니다.</a>
	        		<!-- 제목 옆에 답변 개수 (#list.size(객체)는 객체의 사이즈를 리턴하는 타임리프의 기능) -->
	        		<span class="text-danger small ms-2"
                        th:if="${#lists.size(question.answerList) > 0}" 
                        th:text="'[' + ${#lists.size(question.answerList)} + ']'">
                    </span>
	        		</td>
	            <!-- <td th:text="${question.subject}">제목을 가져옵니다.</td> -->
	            <!-- 글쓴이 추가 -->
	            <td><span th:if="${question.author != null}" th:text="${question.author.username}"></span></td>
	            <td th:text=${question.hit}></td>
	            <td th:text="${#temporals.format(question.createdate, 'yyyy-MM-dd HH:mm')}">글 작성 시간을 가져옵니다.</td>
	        </tr>
	    </tbody>
	</table>
	
	<a th:href="@{/question/create}" class="btn btn-primary">질문 등록하기</a>
</div>	
</html>