<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"> <!-- thymeleaf 선언 -->
<head>
<meta charset="UTF-8">
<title>타임리프</title>
</head>
<body>
	<table>
	    <thead>
	        <tr>
	            <th>제목</th>
	            <th>작성일시</th>
	        </tr>
	    </thead>
	    <tbody>
	        <tr th:each="question : ${questions}">
	        	<!-- 파라미터 이름 없이 값만 넘기기 -->
	        	<td><a th:href="@{|/question/detail/${question.id}|}" th:text="${question.subject}">제목을 가져옵니다.</a></td>
	            <!-- <td th:text="${question.subject}">제목을 가져옵니다.</td> -->
	            <td th:text="${question.createdate}">글 작성 내용을 가져옵니다.</td>
	        </tr>
	    </tbody>
	</table>
</body>
</html>