<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>세부사항</title>
</head>
<body>
	<h1 th:text="${question.subject}">제목</h1>
	<div th:text="${question.content}">내용</div>
	
	<!-- 답변 표시하기 (Board Entity에 answer 필드를 가지고 있음) -->
	<h5 th:text="|${#lists.size(question.answerList)}개의 답변이 있습니다.|">답변 개수</h5>
	<div>
		<ul>
			<li th:each="answer : ${question.answerList}" th:text="${answer.content}">답변 내용</li>
		</ul>
	</div>
	
	<!-- 답변 form action -->
	<form th:action="@{|/answer/create/${question.id}|}" method="post">
		<textarea rows="15" cols="40" name="content" id="content"></textarea>
		<input type="submit" value="답변 등록">
	</form>
</body>
</html>